$primary-color: #949ec9;
$text-color: #1e1e1e;

@import "arctic_admin/base";

#login {
  h2 {
    color: $primary-color;
  }
}

.flash_notice {
  background-color: $primary-color;
}

.footer {
  display: none;
}

